.input{
  border: 1px solid grey;
  width: fit-content;
  display: flex;
  flex-direction: column;
  label{
    color: darkblue;
    padding: 5px;
  }
  input{
    padding: 5px;
    border: 1px solid darkblue;
    border-radius: 5px;
  }
}